body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}


.header {
    flex: 0.2;
    background-color: #1F2937;
    padding: 5px 80px 5px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.left-container {
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.section-1 {
    flex: 1;
    background-color: #1F2937;
}

.section-2 {
    flex: 1;
    background-color: white;
}

.section-3 {
    flex: 1;
    background-color: lightgray;
}

.section-4 {
    flex: 0.7;
    background-color: white;
}

.footer {
    background-color: #1F2937;
    flex: 0.3;
}
