body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}


.header {
    flex: 0.2;
    background-color: #1F2937;
    padding: 5px 80px 5px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.left-container {
    font-weight: bold;
    color: white;
    font-size: 18px;
    
}

.section-1 {
    flex: 1;
    background-color: #1F2937;
    display: flex;
    padding: 50px 80px 50px 80px;
    gap: 30px;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 40px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    background-color: rgb(82, 82, 238);
    color: white;
    font-weight: bold;
}

.left-section-1 {
    display: flex;
    flex-direction: column;
    color: white;
    flex: 1;
}

.right-section-1 {
    display: flex;
    background-color: rgba(255, 255, 255, 0.534);
    flex: 1;
    color: white;
    justify-content: center;
    align-items: center;
}


.section-2 {
    padding: 40px 50px;
    flex: 1;
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.top-section-2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.bottom-section-2 {
    display: flex;
    gap: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    text-align: center;
    gap: 8px;
}

.square-image {
    width: 150px;
    height: 150px;
    border: 3px solid rgb(0, 153, 255);
    border-radius: 10px;
}

.section-3 {
    flex: 1;
    background-color: lightgray;
    padding: 60px 200px;
}

#quote {
    font-style: italic;
    font-size: 24px;
}

#cite {
    text-align: right;
    font-weight: bold;
}

.section-4 {
    flex: 0.7;
    background-color: white;
}

.footer {
    background-color: #1F2937;
    flex: 0.3;
}
